.accordion {
  /* Define all component-specific properties as CSS variables for easy theming and maintenance. */
  --accordion-background-color: var(--background-color, #fff);
  --accordion-border-width: 2px;
  --accordion-header-background-hover: #f0f0f0;
  --accordion-focus-outline-color: var(--link-color, #005A9C);
  --accordion-text-color: var(--text-color, #333);
  --accordion-spacing-m: .5em;
  --accordion-spacing-l: 1em;

  max-width: 100%;
  box-sizing: border-box;
  margin: 1rem 0;
  background-color: var(--accordion-background-color);
  color: var(--accordion-text-color);
}

/* Dark Mode styles */
@media (prefers-color-scheme: dark) {
  .accordion {
    --accordion-background-color: var(--background-color, #121212);
    --accordion-header-background-hover: var(--light-color, #1e1e1e);
    --accordion-focus-outline-color: var(--link-color, #9cdcfe);
    --accordion-text-color: var(--text-color, #d0d0d0);
  }
}

.accordion details {
  background-color: var(--accordion-background-color);
}

.accordion summary {
  cursor: pointer;
  display: list-item; /* Use default marker */
  background-color: var(--accordion-background-color);
  padding: var(--accordion-spacing-m) var(--accordion-spacing-l);
  min-height: calc(44px - 2*var(--accordion-spacing-m));
}

.accordion summary:hover {
  background-color: var(--accordion-header-background-hover);
}

.accordion summary:focus-visible {
  outline: var(--accordion-border-width) solid var(--accordion-focus-outline-color);
  outline-offset: var(--accordion-border-width);
  z-index: 1;
  position: relative;
}

.accordion summary :is(h2, h3, h4, h5, h6) {
  display: inline-block;
  margin: 0;
}

.accordion .accordion-panel-content {
  padding: var(--accordion-spacing-l);
}

/* Respect user's preference for reduced motion */
@media (prefers-reduced-motion: reduce) {
  .accordion summary::after {
    transition: none;
  }
}

/* Adapt styles for Windows High Contrast Mode */
@media (forced-colors: active) {
  .accordion summary {
    border-color: ButtonBorder;
    background-color: ButtonFace;
    color: ButtonText;
  }

  .accordion summary:focus-visible {
    outline-color: Highlight;
  }

  .accordion summary * {
    forced-color-adjust: preserve-parent-color;
  }

  .accordion summary::marker {
    forced-color-adjust: preserve-parent-color;
  }

  .accordion summary:hover,
  .accordion summary:focus-visible,
  .accordion details[open] > summary {
    background-color: Highlight;
    color: HighlightText;
  }

  .accordion .accordion-panel-content {
    border-color: ButtonBorder;
    background-color: Canvas;
    color: CanvasText;
  }
} 