.accordion {
  /* Define all component-specific properties as CSS variables for easy theming and maintenance. */
  --accordion-background-color: var(--background-color, #fff);
  --accordion-border-width: 2px;
  --accordion-header-background-hover: #f0f0f0;
  --accordion-focus-outline-color: var(--link-color, #005A9C);
  --accordion-text-color: var(--text-color, #333);
  --accordion-spacing-m: .5em;
  --accordion-spacing-l: 1em;

  max-width: 100%;
  box-sizing: border-box;
  margin: 1rem 0;
}

/* Dark Mode styles */
@media (prefers-color-scheme: dark) {
  .accordion {
    --accordion-focus-outline-color: var(--link-color, #9cdcfe);
    --accordion-text-color: var(--text-color, #d0d0d0);
    --accordion-background-color: var(--background-color, #121212);
    --accordion-header-background-hover: var(--light-color, #1e1e1e);
  }
}

.accordion-item {
  border-top: 1px solid var(--text-color);
}

.accordion-item:last-of-type {
  border-bottom: 1px solid var(--text-color);
}

.accordion-heading {
  font-size: inherit;
  margin: 0;
  font-weight: normal;
}

.accordion-heading button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  color: var(--accordion-text-color);
  background-color: var(--accordion-background-color);
  padding: var(--accordion-spacing-m) var(--accordion-spacing-l);
  min-height: 44px;
}

.accordion-heading button:hover {
  background-color: var(--accordion-header-background-hover);
}

.accordion-heading button:focus-visible {
  outline: var(--accordion-border-width) solid var(--accordion-focus-outline-color);
  outline-offset: -2px;
  z-index: 1;
  position: relative;
}

.accordion-heading button::after {
  content: '';
  width: 0.5em;
  height: 0.5em;
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  transform: rotate(45deg);
  margin-left: auto;
  transition: transform 0.2s;
}

.accordion-heading button[aria-expanded="true"]::after {
  transform: rotate(225deg);
}

.accordion-panel {
  padding: 1em;
}

@media (prefers-reduced-motion: reduce) {
  .accordion-heading button::after {
    transition: none;
  }
}

/* Adapt styles for Windows High Contrast Mode */
@media (forced-colors: active) {
  .accordion-heading button {
    border-color: ButtonBorder;
    background-color: ButtonFace;
    color: ButtonText;
    forced-color-adjust: preserve-parent-color;
  }

  .accordion-heading button:focus-visible {
    outline-color: Highlight;
  }

  .accordion-heading button:hover {
    background-color: Highlight;
    color: HighlightText;
  }

  .accordion-heading button[aria-expanded="true"] {
    background-color: SelectedItem;
    color: SelectedItemText;
  }

  .accordion-panel {
    border-color: ButtonBorder;
    background-color: Canvas;
    color: CanvasText;
  }
}
